body {
  font-family: "Lato", sans-serif;
}


#cont {
  width: 100%;
  height: 107px;
  top: 0;
  margin-left: -8px;
  float: left;
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 3;
}

#searchBar {
  width: 405px;
  height: 33px;
  border: 3px solid #623381;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
}

::placeholder {
  color: #623381;
  font-size: 15px;
  line-height: 14px;

  margin-left: 35px;
}

#cont > div {
  margin-top: 25px;
  margin-left: 125px;
}

#searchButton {
  font-size: 15px;
  background-color: white;
  border: 0px;
  cursor: pointer;
  border: 3px solid #623381;
  border-radius: 0px 5px 5px 0px;
  border-left: 0px;
  height: 42px;
  margin-left: 0px;
}

#textBelowSearchBar {
  line-height: 37px;
  cursor: pointer;
  color: rgb(156, 156, 156);
  width: 500px;
}

#textBelowSearchBar_Divider {
  border: 1px solid rgb(214, 214, 214);
  margin-left: 15px;
  margin-right: 14px;
}

#signin_icon {
  color: #a9307c;
  margin-right: 40px;
  font-size: 32px;
  display: flex;
}

#userprofile{
  font-size: 16px;
  width: 60px;
  height: 20px;
  margin-left: 10px;
  text-align: start;
  margin-top: 5px;
  cursor: pointer;
}

#wishlist_icon {
  color: #a9307c;
  margin-right: 40px;
  font-size: 32px;
}

#bag_icon {
  color: #a9307c;
  font-size: 32px;
}

#threeIconsInNavBar {
  margin-left: 130px;
  height: 10%;
  margin-top: 50px;
}

/*Harshit*/

#navbar {
  z-index: 3;
  position: fixed;
  top: 0;
  background-color: rgb(98, 51, 129);
  text-align: center;
  padding: 1px;
  margin-top: 107px;
  display: flex;
  margin-left: -8px;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 70%;
  margin: 20px;
  text-decoration: none;
  margin-left: 1px;
}

a:hover {
  background-color: white;
  color: rgb(98, 51, 129);
}

.navMenu {
  height: 35px;
  width: 135px;
  margin-left: 5px;
  padding-top: 10px;
}

.navMenu:hover {
  background-color: white;
  color: rgb(98, 51, 129);
  text-decoration: underline;
}
